html{
    background: color white;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin:0px;
}
.container-wrapper{
    display:flex;
    height:100vh;
}
.navigation-panel{
    background-color:grey;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.content-area{
    display:flex;
    flex-direction:column;
    width:500vh;           
}
.top-header{
    background-color:blue;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.section-title{
    margin-left:1em;
}
.container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,4fr));
    grid-column-gap:40px;
    grid-row-gap:10px;
    margin:0px 40px 10px 10px;
}
.content{
    background-color:white;
    border:1px solid grey;
    border-radius:6px;
    padding:5px 6px 20px 20px;
    width:100%;
    color:blue;   
    font-weight:bold;
}
p{
    color:black;
    margin-bottom:8px;
}
#dashboard-title{
    color:white;
    font-weight:bold;
    margin-left:10px;
    margin-top:10px;
    padding-bottom:10px;
    justify-content:center;
}

h4{
    color:white;
    text-align:center;
}
.nav-menu{
    padding:0px 20px 0px 20px;
}
.nav-item{
    padding:10px 40px;
}
.nav-item:hover{
    background-color:rgb(114, 107, 107);
    border-radius:4px;
}
ul{
    list-style-type:none;
    color:white;
    padding:0px;
    font-size:smaller;
}
li{
    margin-bottom:15px;
}
button{
    background-color:rgb(225, 59, 59);
    border:1px solid rgb(225, 59, 59);
    border-radius:3px;
    color:white;
    font-size:10px;
    padding:5px
}
.action-button{
    display:flex;
    flex-direction:column;
    margin:20px 8px;
}
img{
    height:25px;
    width:25px;
    margin-top:5px;
    margin-right:10px;
}
#user-profile{
    color:white;
    font-size:12px;
    display:flex;
    flex-direction:row;
    align-items:center;
}
span{
    margin-right:10px;
}
@media(max-width:768px){
    .navigation-panel{
        display:none;
    }
}